/*settings for whole webpage*/
*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.6;
}

/*centers all text*/
.container{
    text-align: center; 
}

/*background image*/
.background div, body{
    background-image: url(images/scene.jpg);
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
}

/*BusyBakes' header*/
header{
    height: 50px;
    width: 100%;
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 30px;
}

/*nav*/
a, li{
    text-decoration: none;
    display: inline;
    font-size: x-large; 
}

/*main*/
main{
    height: 500px;
    width: 100%;
} 

h1{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 70px;
}

main p{
    font-size: 20px;
    margin: 40px 20px 30px 20px;
}

.crossed_out{
    text-decoration: line-through;
}

.bold{
    font-weight: bold;
    background-color: GoldenRod;
    font-style: italic;
}

/*sign up button*/
.button{
    background-color: GoldenRod;
    border: 1px solid DarkGoldenRod;
    text-decoration: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 25px;
}

/*footer*/
footer i.fab{
    font-size: xx-large;
    letter-spacing: 5px;
    padding-bottom: 5px;
}

footer p{
    font-size: 15px;
}

.footer1,.footer2{
    background-color: GoldenRod;
    width: 100%;
    height: 50px;
}

p.footer2{
    height: 20px;
    padding-bottom: 5px;
    background-color: DarkGoldenRod;
}