/*-------------------------------------------------------------AllPages-------------------------------------------------------------*/
/*univesal settings*/
*{
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    line-height: 1.6;
    text-align: center;
}

/*to help keep footers at the bottom of the page*/
body{
    position: relative;
    padding-bottom: 112px;
    min-height: 100vh;
}

/*website's background image*/
.background div, body{
    background-image: url(images/scene.jpg);
    background-repeat: no-repeat;
    background-position: center;  
    background-size: cover;
}

/*BusyBakes logo*/
h1{
    height: 50px;
    width: 100%;
    font-size: 35px;
    margin-bottom: 25px;
    margin-top: 30px;
}

/*navbar background colour*/
nav{
    background-color: rgba(218, 165, 32, 0.582);
}

/*navbar pushing down sign up form*/
ul{
    margin-bottom: 20px;
}

/*navbar tabs*/
a, li{
    text-decoration: none;
    display: inline;
    font-size: x-large; 
}

/*navbar tab dividers*/
.vertical_line{
    border-right: solid 2px white;
    padding-right: 6px; 
}

/*------------------Footers------------------------------*/
/*keeps all footers at the bottom of the page*/
footer{
    position:absolute;
    bottom: 0px;
    width: 100%;
}

/*footer paragraphs*/
footer p{
    font-size: 15px;
}

/*footer icons*/
footer i.fab{
    font-size: xx-large;
    letter-spacing: 5px;
}

.socials{
    height: 112px;
}

/*footer contacts*/
.contacts{
    background-color: rgba(218, 165, 32, 0.582);
    height: 75px;
}

/*footer copyright*/
.copyright{
    background-color: DarkGoldenRod;
    height: 20px;
    padding-bottom: 5px;
}

/*---------------------------------------------------------------HomePage---------------------------------------------------------------*/
/*section area*/
section{
    height: 500px;
    width: 100%;
} 

/*homepage heading*/
h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 30px;
}

/*homepage paragraph*/
section p{
    font-size: 20px;
    margin: 40px 20px 30px 20px;
}

/*homepage paragraph expensive price*/
.crossed_out{
    text-decoration: line-through;
}

/*homepage paragraph cheap price*/
.bold{
    font-weight: bold;
    background-color: GoldenRod;
    font-style: italic;
}

/*homepage sign up button*/
.button{
    background-color: GoldenRod;
    border: 2px solid DarkGoldenRod;
    text-decoration: none;
    padding: 0px 5px 5px;
    border-radius: 10px;
    font-size: 25px;
    margin: 0px;
}
/*---------------------------------------------------------------SignUpPage---------------------------------------------------------------*/
/*to help keep footers at the bottom of the page*/
section{
    padding-bottom: 112px;
}

/*form background & border colour*/
section.form_container{
    background-color: rgba(218, 165, 32, 0.582);
    border: 2px solid DarkGoldenRod;
    border-radius: 10px;
    width: 250px;
    margin: 20px;
    display: inline-block;
}

/*all form boxes, labels & sign up button*/
form, label, input{
    display: inline-block;
}

/*colour of text typed in for boxes*/
input{
    text-align: left;
}

/*spaces between names of each form*/
label{
margin-top: 10px;
}

/*inside space of first name, last name & address boxes*/
input[type=text]{
    padding-bottom: 5px;
    padding-right: 60px;
    color: black;
    border: 2px solid DarkGoldenRod;
    border-radius: 4px;
    background-color: GoldenRod;
}

/*inside space of email box*/
input[type=email]{
    padding-bottom: 5px;
    padding-right: 60px;
    color: black;
    border: 2px solid DarkGoldenRod;
    border-radius: 4px;
    background-color: GoldenRod;
}

/*inside space of phone box*/
input[type=tel]{
    padding-bottom: 5px;
    padding-right: 60px;
    color: black;
    border: 2px solid DarkGoldenRod;
    border-radius: 4px;
    background-color: GoldenRod;
}

/*inside space of preferred times box*/
select{
    padding-bottom: 5px;
    padding-right: 60px;
    border: 2px solid DarkGoldenRod;
    border-radius: 4px;
    background-color: GoldenRod;
}

/*preferred times box days pushed to the left */
select#choosen_schedule optgroup{
    text-align: left;
}

/*preferred times box time pushed to the left */
select#choosen_schedule optgroup option{
    text-align: left;
}

/*form sign up button*/
input[type=submit]{
    background-color: GoldenRod;
    border: 2px solid DarkGoldenRod;
    text-decoration: none;
    padding: 0px 5px 5px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 50px;
}