/*-------------------------------------------------------------AllPages-------------------------------------------------------------*/

/*univesal settings*/
*{
    padding: 0px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    line-height: 1.6;
    text-align: center;
}

/*website's background image and space provided after section-ends to help keep footers at the bottom*/
body{
/*for the footer*/
    position: relative;
    padding-bottom: 140px;
    min-height: 100vh;
    height: 100%;
/*for the background image*/
    background-image: url(images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/*Company website title*/
h1{
    height: 35px;
    width: 100%;
    font-size: 35px;
    margin: 30px 0px;
    font-weight: bold;
}

/*Company sub-titles*/
h2{
    font-size: 30px;
    text-transform: uppercase;
    margin: 30px;
}

/*-----------------------------------------------------Navbar*/
/*navbar bar*/
.my-nav{
    background-color: rgba(218, 165, 32, 0.582);
    border: solid 2px Goldenrod;
    border-radius: 5px;
}

/*navbar logo*/
.my-nav .navbar-brand{
    color: white;
    font-size: 26px;
}

/*navbar logo hovered state*/
.my-nav .navbar-brand:hover{
    background-color: DarkGoldenRod;
    border-radius: 3px;
}

/*navbar links*/
.my-nav .nav-link{
    color: white;
    font-size: 22px;
    margin: 3px 0px;
}

/*navbar link's hovered state */
.my-nav .nav-link:hover{
    background-color: DarkGoldenRod;
    border-radius: 9pc;
    padding: 0px;
}

/*removed border around burger icon */
.navbar-toggler:focus,.navbar-toggler:active,.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
}

/*navbar links when on its page*/
.active{
    background-color: DarkGoldenRod;
    border-radius: 9pc;
    padding: 0px;
}

/*-----------------------------------------------------SignUp Button*/
/*sign up button for ALL BUT sign up page*/
a.button{
    color: white;
    background-color: GoldenRod;
    border: 2px solid DarkGoldenRod;
    text-decoration: none;
    padding: 0px 5px 5px;
    border-radius: 10px;
    font-size: 20px;
    margin: 0px;
}

/*-----------------------------------------------------Images*/
/*decorates ALL photos individually*/
#food_photos img,#people_photos img,.baker img{
    width: 270px;
    height: 350px; 
    border: 5px solid DarkGoldenRod;
    border-radius: 50%;
    margin: 5px;
}

/*arranges food & people photos underneath each other*/
#food_photos,#people_photos{
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0px;
}

/*-----------------------------------------------------Footers*/
/*to help keep footers at the bottom of the page*/
section{
    width: 100%;
}

/*keeps all footers at the bottom of the page*/
footer{
    position:absolute;
    min-height: 0%;
    bottom: 0;
    width: 100%;
}

/*footer paragraphs*/
footer p{
    font-size: 15px;
}

/*footer icons*/
footer i.fab{
    font-size: 250%;
    letter-spacing: 5px;
    height: 94px;
}

/*footer contacts*/
.contacts{
    background-color: rgba(218, 165, 32, 0.582);
    height: 57px;
}

/*footer copyright*/
.copyright{
    background-color: DarkGoldenRod;
    height: 20px;
    padding-bottom: 23px;
    margin-bottom: 0px;
}

/*---------------------------------------------------------------HomePage---------------------------------------------------------------*/
/*homepage paragraph*/
section.homepage p{
    font-size: 20px;
    margin: 40px 20px 30px 20px;
}

/*homepage paragraph expensive price*/
.crossed_out{
    text-decoration: line-through;
}

/*homepage paragraph cheap price*/
.bold{
    font-weight: bold;
    background-color: GoldenRod;
    font-style: italic;
}

/*---------------------------------------------------------------Testimonials---------------------------------------------------------------*/
/*decorates people opinions*/
#people_photos p{
    font-style: italic;
    font-size: 20px;
    background-color: GoldenRod;
    border: solid 2px DarkGoldenRod; 
    border-radius: 30px;
    padding: 5px;
    margin: 5px;
}

/*---------------------------------------------------------------Schedule---------------------------------------------------------------*/
/*days of the week*/
.times h3{
    font-weight: bolder;
    font-size: 28px;
}

/*space under evening times*/
.times ul{
    margin-bottom: 5px;
}

/*times of the week*/
.times ul li{
    font-size: 20px;
}

/*decorates background of schedule times*/
.schedule div.times{
    background-color: GoldenRod;
    margin: 0px 40px 50px;
    border: 5px solid DarkGoldenRod;
    border-radius: 9px;
}

/*removes bullet points from schedule times*/
.schedule ul{
    list-style: none;
}
/*---------------------------------------------------------------AboutUs---------------------------------------------------------------*/
/*decorates background paragraphs*/
.about_us_paras{
    background-color: rgba(218, 165, 32, 0.87);
    border: 2px solid DarkGoldenRod;
    border-radius: 10px;
}

/*decorates paragraphs*/
.about_us_paras p{
    font-size: 20px;
}

/*controls border around paragraphs*/
.about_us_paras{
    margin: 10px;
}

/*---------------------------------------------------------------SignUp---------------------------------------------------------------*/
/*whole form*/
#centering_form{
    background-color: rgba(218, 165, 32, 0.582);
    border: 2px solid DarkGoldenRod;
    border-radius: 10px;
    width: 83%; 
    padding: 0px 10px;
    margin: auto;
    min-height: 100%;
}

/*form labels*/
label,small{
    font-weight: bold;
    font-size: 17px;
}

/*all form boxes, labels & sign up button*/
form, label, input{
    display: block;
}

/*text typed in from left hand-side in boxes*/
input{
    text-align: left;
}

/*spaces between names of each form*/
label{
margin-top: 10px;
font-size: 150%;
}

/*inside space of ALL text boxes*/
input[type=text],input[type=email],input[type=tel]{
    padding-bottom: 5px;
    color: black;
    border: 2px solid DarkGoldenRod;
    border-radius: 4px;
    background-color: GoldenRod;
    width: 100%;
}

/*outside outline colour for clicked on form boxes*/
input[type=text],input[type=email],input[type=tel],select#choosen_schedule:focus{
    outline-color:DarkGoldenRod;
}

/*inside space of preferred times box*/
select{
    padding-bottom: 5px;
    margin: 0px 5px;
    border: 2px solid DarkGoldenRod;
    border-radius: 4px;
    background-color: GoldenRod;
}

/*stretches out select box*/
select#choosen_schedule{
    width: 80%;
    margin: 0px;
}

/*content in preference box pushed to the left*/
select#choosen_schedule optgroup,select#choosen_schedule optgroup option{
    text-align: left;
    width: 100%;
}

/*form sign up button*/
button.form_button{
    background-color: GoldenRod;
    border: 2px solid DarkGoldenRod;
    padding: 0px 5px 5px;
    border-radius: 10px;
    font-size: 20px;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*---------------------------------------------------------------Media Queries---------------------------------------------------------------*/

/*-----------------------------------------------------HomePage*/
@media (min-width: 418px) {
        /*homepage paragraph*/
        section.homepage p{
                          margin-bottom: 40px;
                          font-size: 22px;
                          }
}
/*end*/

@media (min-width: 445px) {
       /*Company website title*/
       h1{
         font-size: 40px;
         margin-bottom: 40px;        
         }
      
        /*homepage paragraph*/
        section.homepage p{
                          font-size: 25px;
                          }
}
/*end*/

@media (min-width: 579px) {
        /*footer icons*/
        footer i.fab{
                    letter-spacing: 7px;
                    height: 70px;
                    }

        /*footer contacts*/
        .contacts{
                 height: 30px;
                 }

        /*footer copyright*/
        .copyright{
                  height: 23px;
                  }
}
/*end*/

@media (min-width: 616px) {
        /*Company website title*/
        h1{
          font-size: 50px;
          margin-bottom: 60px;
          }

         /*navbar logo*/
         .my-nav .navbar-brand{
                              font-size: 45px;
                              }

        /*burger icon */
        button.navbar-toggler{
                              font-size: 45px;
                              }

        /*navbar links*/
        .my-nav .nav-link{
                         font-size: 40px;
                         }

         /*Company sub-titles*/
         h2{
           font-size: 40px;
           }

        /*homepage paragraph*/
        section.homepage p{
                          font-size: 37px;
                          }

        /*sign up button for ALL BUT sign up page*/
        a.button{
                font-size: 40px;
                } 
}
/*end*/

@media (min-width: 766px) {
       /*Company website title*/
       h1{
         font-size: 70px;
         margin-bottom: 90px;   
         }

       /*navbar logo*/
       .my-nav .navbar-brand{
                            font-size: 60px;
                            } 

        /*Company sub-titles*/
        h2{
          font-size: 50px;
          }

        /*arranges food & people photos underneath each other*/
        #food_photos,#people_photos{
                                   /* display: inline-block; */
                                   /* column-count: 2;
                                   clear: initial; */
                                   display: grid;
                                   }
     
        /*border round pics*/
        .GalleryBorder{ 
                      border: solid blue 5px;
                      }


                                   






}
/*end*/

@media (min-width: 992px) {
        /*gets rid of navbar logo*/
       .my-nav .navbar-brand{
                            display: none;
                            } 

       /*navbar links*/
       a.nav-item.nav-link{
                          font-size: 35px;
                          padding: 0px;
                          }

        /*navbar hovering links*/
        a.nav-item.nav-link:hover, a.nav-item.nav-link.active{
                                 border-radius: 9px;
                                 margin: 0px 5px;
                                 }

        /*canters navbar links*/
        div#navbarNavAltMarkup.collapse.navbar-collapse{
                                                       justify-content: center;
                                                       }

        /*lines between navbar links*/
        .vertical_line{
                      border: solid white 1px;
                      padding-left: 2px;
                      }                                                                                         
}
/*end*/

@media (min-width: 1125px) {
       /*navbar links*/
       a.nav-item.nav-link{
                          font-size: 40px;
                          }
}
/*end*/