/*-----------------------------------------------------Navbar*/
/*navbar background colour*/
.my_navbar{
    background-color: rgba(218, 165, 32, 0.582);
}

/*navbar text */
a{ 
    color: white;
}

/*navbar logo*/
a.navbar_logo{
    font-size: 20px;
    font-weight: bolder;
}

/*hamburger outline*/
button.navbar-toggler{
    border:none;
    background-color: rgba(184, 135, 11, 0.582);
    border-radius: 15px;
    padding: 0px 9px;
}

/*removes clicked hamburger outline*/
button:focus { 
    outline: none; 
}

/*navbar links design*/
li.nav-item{
    margin-bottom: 30px;
    font-weight: bolder;
    font-size: 20px;
    letter-spacing: 1px;
}

/*spacing above navbar home link*/
li.home_link{
    margin-top: 5px;
}

/*spacing below navbar sign up link*/
li.sign_up_link{
    margin-bottom: 0px;
}

/*nav links background when clicked*/
li.nav-item:active{
    background-color: DarkGoldenRod;
    border-radius: 15px;
}

/*nav links when clicked*/
a:active{
    text-decoration: none;
    color: white;
}

/*nav links after being clicked*/
a:visited{
    color: white;
}

div#carouselExampleCaptions.carousel.slide.pointer-event img{
    border: 2px solid yellow;
    height: 500px;
    width: 100px;
} */
