$allColours: (
  "textBoxesColour": black,
  "white": white,
  "GoldenRod": GoldenRod,
  "DarkGoldenRod": DarkGoldenRod,
  "bodyAndImgBgColour": rgba(218, 165, 32, 0.753),
  "testimonialsBgColour": rgba(218, 165, 32, 0.87),
  "contactsAndFormBgColour": rgba(218, 165, 32, 0.582),
);

$allColouredBorders: (
  "iconBorder": 0.1em solid DarkGoldenRod,
  "allOtherBorders": 5px solid DarkGoldenRod,
  "signUpBtnsAndTextBoxesBorderAndTimeBoxBorder": 2px solid DarkGoldenRod,
);

$allNones: none;

$mainFont: cursive, Arial, Helvetica, sans-serif;
$universal: (
  "universalText": center,
  "universalPadding": 0em,
  "universalMargin": 0em,
  "universalLineHeight": 1.6,
);

$bodyBgImg: linear-gradient(
    to bottom,
    rgba(218, 165, 32, 0),
    rgba(0, 0, 0, 0.5),
    rgba(245, 246, 252, 0)
  ),
  url(assets/images/background.jpg);
$body: (
  "bodyRelativePosition": relative,
  "bodyBgSize": cover,
  "bodyBgAttachment": fixed,
  "bodyBgPosition": center,
  "bodyMinHeight": 100vh,
  "bodyPaddingBottom": 140px,
  "bodyHeight": 100%,
);

$backToTop: (
  "iconCursor": pointer,
  "position": fixed,
  "right": 0.5em,
  "bottom": 1em,
  "z-index": 1,
  "borderRadius": 50%,
  "iconBorderRadius": 2em,
);

$nav: (
  "navFontSize": 26px,
  "navLinkFontSize": 22px,
  "navLinkMargins": 3px 0px,
  "navLinkHoverBorderRadius": 9pc,
  "navLinkHoverPadding": 0px,
);

$headings: (
  "paraHeadingsFontStyle": italic,
  "subtitleHeadingUppercase": uppercase,
  "subtitleHeadingFontSize": 35px,
  "subtitleHeadingMargins": 30px 0px,
  "subtitleHeadingParaTop": 100px,
  "paraHeadingsFontSize": 30px,
);

$imgs: (
  "imgWidth": 270px,
  "imgHeight": 350px,
  "imgBorderRadius": 50%,
  "imgMargins": 0px,
);

$testimonialsScheduleAboutUs: (
  "borderRadius": 9px,
  "borderWidth": 100%,
  "padding": 0px,
  "margin": 0px,
);

$signUpBtn: (
  "signUpBtnPadding": 0px 5px 5px,
  "signUpBtnBorderRadius": 10px,
  "signUpBtnFontSize": 20px,
  "signUpBtnMargins": 0px,
);

$footers: (
  "position": absolute,
  "sectionWidth": 100%,
  "minHeight": 0%,
  "bottom": 0em,
  "footerWidth": 100%,
  "footerFontSize": 15px,
  "iconsFontSize": 250%,
  "iconsLetterSpacing": 5px,
  "iconsHeight": 94px,
  "contactsHeight": 57px,
  "copyrightHeight": 20px,
  "copyrightPaddingBottom": 23px,
  "copyrightMarginBottom": 0px,
);

$homePage: (
  "homePageCrossOut": line-through,
  "homePageFontWeight": bold,
  "homePageFonStyle": italic,
  "homePagePaddingTop": 90px,
  "homePageFontSize": 20px,
  "homePageMargin": 40px 20px 40px 20px,
);

$testimonials: (
  "paraFontStyle": italic,
  "pplNames": block,
  "innerBoxPaddingTop": 15px,
  "innerBoxWidth": 100%,
  "paraFontSize": 25px,
  "paraBorderRadius": 30px,
  "paraPadding": 5px,
  "paraMargin": 5px,
);

$schedule: (
  "scheduleFontWeight": bold,
  "subheading&Para": italic,
  "scheduleMargin": 30px 29px 15px,
  "scheduleFontSize": 23px,
  "scheduleMarginBottom": 2px,
  "scheduleMarginTop": 15px,
  "scheduleParaMarginBottom": 8px,
  "scheduleParaFontSize": 20px,
);

$aboutUs: (
  "founder&SieveImgFloat": left,
  "bunsFloatImg": right,
  "aboutUsParaFontStyle": italic,
  "founder&SieveImgMargin": 40px 2px 5px 20px,
  "bunsMarginImg": 40px 20px 5px 2px,
  "aboutUsParaFontSize": 25px,
);

$signUp: (
  "preferenceBoxTextAlign": left,
  "textInput": left,
  "fromLabelInputTextAlign": center,
  "fromLabelInputDisplay": block,
  "labelFontWeight": bold,
  "formMargin": auto,
  "formBorderRadius": 9px,
  "formWidth": 100%,
  "formPadding": 0px 10px,
  "formMinHeight": 100%,
  "labelFontSize": 150%,
  "labelMarginTop": 10px,
  "textBoxesPaddingBottom": 5px,
  "textBoxesBorderRadius": 4px,
  "textBoxesWidth": 100%,
  "timeBoxPaddingBottom": 5px,
  "timeBoxMargin": 0px 5px,
  "timeBoxBorderRadius": 4px,
  "selectBoxWidth": 250px,
  "selectBoxWiMarginBottom": 20px,
  "preferenceBoxFontSize": 18px,
  "preferenceBoxWidth": 100%,
  "btnPadding": 0px 5px 5px,
  "btnBorderRadius": 10px,
  "btnFontSize": 20px,
  "btnMarginBottom": 10px,
  "btnBorderWidth": 3px,
);

* {
  font-family: $mainFont;
  padding: map-get($universal, "universalPadding");
  margin: map-get($universal, "universalMargin");
  color: map-get($allColours, "white");
  line-height: map-get($universal, "universalLineHeight");
  text-align: map-get($universal, "universalText");
}

body {
  /* for footer */
  position: map-get($body, "bodyRelativePosition");
  padding-bottom: map-get($body, "bodyPaddingBottom");
  min-height: map-get($body, "bodyMinHeight");
  height: map-get($body, "bodyHeight");
  /* for background img */
  background-image: $bodyBgImg;
  background-color: map-get($allColours, "bodyAndImgBgColour");
  background-size: map-get($body, "bodyBgSize");
  background-attachment: map-get($body, "bodyBgAttachment");
  background-position: map-get($body, "bodyBgPosition");
}

.fixed-arrow {
  display: $allNones;
  bottom: map-get($backToTop, "bottom");
  position: map-get($backToTop, "position");
  right: map-get($backToTop, "right");
  z-index: map-get($backToTop, "z-index");
  background-color: map-get($allColours, "GoldenRod");
  border-radius: map-get($backToTop, "borderRadius");
}

.fas.fa-arrow-circle-up {
  border-radius: map-get($backToTop, "iconBorderRadius");
  cursor: map-get($backToTop, "iconCursor");
  border: map-get($allColouredBorders, "iconBorder");
}

/****************************************************************************** Navbar */
.my-nav {
  background-color: map-get($allColours, "DarkGoldenRod");
}

.my-nav .navbar-brand {
  color: map-get($allColours, "white");
  font-size: map-get($nav, "navFontSize");
}

.my-nav .nav-link {
  color: map-get($allColours, "white");
  font-size: map-get($nav, "navLinkFontSize");
  margin: map-get($nav, "navLinkMargins");
}

.my-nav .nav-link:hover {
  background-color: map-get($allColours, "GoldenRod");
  border-radius: map-get($nav, "navLinkHoverBorderRadius");
  padding: map-get($nav, "navLinkHoverPadding");
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: $allNones;
  box-shadow: $allNones;
}

/****************************************************************************** Headings */

.heading1 {
  display: $allNones;
}

.heading2 {
  font-size: map-get($headings, "subtitleHeadingFontSize");
  text-transform: map-get($headings, "subtitleHeadingUppercase");
  margin: map-get($headings, "subtitleHeadingMargins");
  padding-top: map-get($headings, "subtitleHeadingParaTop");
}

.heading3 {
  font-size: map-get($headings, "paraHeadingsFontSize");
  font-style: map-get($headings, "paraHeadingsFontStyle");
}

/****************************************************************************** Images */
.all_testimonials img,
.wrapping img {
  width: map-get($imgs, "imgWidth");
  height: map-get($imgs, "imgHeight");
  border: map-get($allColouredBorders, "allOtherBorders");
  border-radius: map-get($imgs, "imgBorderRadius");
  background-color: map-get($allColours, "bodyAndImgBgColour");
}

div.row {
  margin: map-get($imgs, "imgMargins");
}

/****************************************************************************** Common: Testimonials, Schedule, About Us */
/* all boxes */
.schedule div.times,
.all_testimonials div.testimonial,
.about_us_paras {
  background-color: map-get($allColours, "testimonialsBgColour");
  border: map-get($allColouredBorders, "allOtherBorders");
  border-radius: map-get($testimonialsScheduleAboutUs, "borderRadius");
  width: map-get($testimonialsScheduleAboutUs, "borderWidth");
}

/* removes spaces around to centre */
div.container,
div.col-12 {
  padding: map-get($testimonialsScheduleAboutUs, "padding");
}

/* decorates paragraph background */
.about_us_paras,
.all_testimonials div.testimonial {
  margin: map-get($testimonialsScheduleAboutUs, "margin");
}

/****************************************************************************** Sign Up Button */
/* sign up button for all BUT sign up page */
a.button {
  color: map-get($allColours, "white");
  background-color: map-get($allColours, "GoldenRod");
  border: map-get(
    $allColouredBorders,
    "signUpBtnsAndTextBoxesBorderAndTimeBoxBorder"
  );
  text-decoration: $allNones;
  padding: map-get($signUpBtn, "signUpBtnPadding");
  border-radius: map-get($signUpBtn, "signUpBtnBorderRadius");
  font-size: map-get($signUpBtn, "signUpBtnFontSize");
  margin: map-get($signUpBtn, "signUpBtnMargins");
}

/****************************************************************************** Footers */
/* keeps footers at bottom of page */
section {
  width: map-get($footers, "sectionWidth");
}

/* keeps all footers at bottom of page */
footer {
  position: map-get($footers, "position");
  min-height: map-get($footers, "minHeight");
  bottom: map-get($footers, "bottom");
  width: map-get($footers, "footerWidth");
}

footer p {
  font-size: map-get($footers, "footerFontSize");
}

footer i.fab {
  font-size: map-get($footers, "iconsFontSize");
  letter-spacing: map-get($footers, "iconsLetterSpacing");
  height: map-get($footers, "iconsHeight");
}

.contacts {
  background-color: map-get($allColours, "contactsAndFormBgColour");
  height: map-get($footers, "contactsHeight");
}

.copyright {
  background-color: map-get($allColours, "DarkGoldenRod");
  height: map-get($footers, "copyrightHeight");
  padding-bottom: map-get($footers, "copyrightPaddingBottom");
  margin-bottom: map-get($footers, "copyrightMarginBottom");
}

/****************************************************************************** HomePage */
.homepage .heading2 {
  padding-top: map-get($homePage, "homePagePaddingTop");
}

section.homepage p {
  font-size: map-get($homePage, "homePageFontSize");
  margin: map-get($homePage, "homePageMargin");
}

.crossed_out {
  text-decoration: map-get($homePage, "homePageCrossOut");
}

.bold {
  font-weight: map-get($homePage, "homePageFontWeight");
  background-color: map-get($allColours, "GoldenRod");
  font-style: map-get($homePage, "homePageFonStyle");
}

/******************************************************************************* Testimonials */
.all_testimonials div.testimonial {
  padding-top: map-get($testimonials, "innerBoxPaddingTop");
  width: map-get($testimonials, "innerBoxWidth");
}

.all_testimonials p {
  font-style: map-get($testimonials, "paraFontStyle");
  font-size: map-get($testimonials, "paraFontSize");
  border-radius: map-get($testimonials, "paraBorderRadius");
  padding: map-get($testimonials, "paraPadding");
  margin: map-get($testimonials, "paraMargin");
}

.all_testimonials span {
  display: map-get($testimonials, "pplNames");
}

/******************************************************************************* Schedule */
.schedule div.times {
  margin: map-get($schedule, "scheduleMargin");
}

.heading4 {
  font-weight: map-get($schedule, "scheduleFontWeight");
  font-size: map-get($schedule, "scheduleFontSize");
  margin-bottom: map-get($schedule, "scheduleMarginBottom");
  margin-top: map-get($schedule, "scheduleMarginTop");
}

.schedule p {
  margin-bottom: map-get($schedule, "scheduleParaMarginBottom");
  font-size: map-get($schedule, "scheduleParaFontSize");
}

.heading4,
.schedule p {
  font-style: map-get($schedule, "subheading&Para");
}

/******************************************************************************* About Us */
.wrapping .founder img,
.sieve img {
  float: map-get($aboutUs, "founder&SieveImgFloat");
  margin: map-get($aboutUs, "founder&SieveImgMargin");
}

.wrapping .buns img {
  float: map-get($aboutUs, "bunsFloatImg");
  margin: map-get($aboutUs, "bunsMarginImg");
}

.about_us_paras p {
  font-size: map-get($aboutUs, "aboutUsParaFontSize");
  font-style: map-get($aboutUs, "aboutUsParaFontStyle");
}

/******************************************************************************* Sign Up */
#sign_up_form {
  background-color: map-get($allColours, "contactsAndFormBgColour");
  border: map-get($allColouredBorders, "allOtherBorders");
  border-radius: map-get($signUp, "formBorderRadius");
  width: map-get($signUp, "formWidth");
  padding: map-get($signUp, "formPadding");
  margin: map-get($signUp, "formMargin");
  min-height: map-get($signUp, "formMinHeight");
}

label {
  font-weight: map-get($signUp, "labelFontWeight");
  font-size: map-get($signUp, "labelFontSize");
  margin-top: map-get($signUp, "labelMarginTop");
}

form,
label,
input {
  display: map-get($signUp, "fromLabelInputDisplay");
  text-align: map-get($signUp, "fromLabelInputTextAlign");
}

input {
  text-align: map-get($signUp, "textInput");
}

input[type="text"],
input[type="email"] {
  padding-bottom: map-get($signUp, "textBoxesPaddingBottom");
  color: map-get($allColours, "textBoxesColour");
  border: map-get(
    $allColouredBorders,
    "signUpBtnsAndTextBoxesBorderAndTimeBoxBorder"
  );
  border-radius: map-get($signUp, "textBoxesBorderRadius");
  background-color: map-get($allColours, "GoldenRod");
  width: map-get($signUp, "textBoxesWidth");
}

input[type="text"],
input[type="email"],
select#chosen_schedule:focus {
  outline-color: map-get($allColours, "GoldenRod");
}

select {
  padding-bottom: map-get($signUp, "timeBoxPaddingBottom");
  margin: map-get($signUp, "timeBoxMargin");
  border: map-get(
    $allColouredBorders,
    "signUpBtnsAndTextBoxesBorderAndTimeBoxBorder"
  );
  border-radius: map-get($signUp, "timeBoxBorderRadius");
  background-color: map-get($allColours, "GoldenRod");
}

select#chosen_schedule {
  width: map-get($signUp, "selectBoxWidth");
  margin-bottom: map-get($signUp, "selectBoxWiMarginBottom");
}

select#chosen_schedule optgroup,
select#chosen_schedule optgroup option {
  text-align: map-get($signUp, "preferenceBoxTextAlign");
  font-size: map-get($signUp, "preferenceBoxFontSize");
  width: map-get($signUp, "preferenceBoxWidth");
}

button.form_button {
  background-color: map-get($allColours, "GoldenRod");
  border: map-get($allColouredBorders, "allOtherBorders");
  padding: map-get($signUp, "btnPadding");
  border-radius: map-get($signUp, "btnBorderRadius");
  font-size: map-get($signUp, "btnFontSize");
  margin-bottom: map-get($signUp, "btnMarginBottom");
}

button.form_button:focus {
  outline: map-get($allColours, "DarkGoldenRod");
  border-width: map-get($signUp, "btnBorderWidth");
}

/****************************************************************************** Media Queries */
@media (min-width: 355px) {
  @mixin homeParas {
    margin: 50px 20px 50px 20px;
    font-size: 22px;
  }

  @mixin preferenceBox {
    font-size: 20px;
  }

  @mixin selectBox {
    width: 285px;
  }

  section.homepage p {
    @include homeParas;
  }

  select#chosen_schedule optgroup,
  select#chosen_schedule optgroup option {
    @include preferenceBox;
  }

  /*controls select box growth*/
  select#chosen_schedule {
    @include selectBox;
  }
}

@media (min-width: 418px) {
  @mixin homeParas {
    margin-bottom: 40px;
    font-size: 25px;
  }

  @mixin selectBox {
    width: 310px;
  }

  @mixin preferenceBox {
    font-size: 22px;
  }

  section.homepage p {
    @include homeParas;
  }

  select#chosen_schedule {
    @include selectBox;
  }

  select#chosen_schedule optgroup,
  select#chosen_schedule optgroup option {
    @include preferenceBox;
  }
}

@media (min-width: 445px) {
  @mixin homeParas {
    font-size: 27px;
  }

  section.homepage p {
    @include homeParas;
  }
}

@media (min-width: 576px) {
  @mixin signUpForm {
    width: 90%;
  }

  #sign_up_form {
    @include signUpForm;
  }
}

@media (min-width: 579px) {
  @mixin homeParas {
    font-size: 27px;
  }

  @mixin footerIcons {
    letter-spacing: 7px;
    height: 70px;
  }

  @mixin footerContacts {
    height: 30px;
  }

  @mixin footerCopyright {
    height: 23px;
  }

  section.homepage p {
    @include homeParas;
  }

  footer i.fab {
    @include footerIcons;
  }

  .contacts {
    @include footerContacts;
  }

  .copyright {
    @include footerCopyright;
  }
}

@media (min-width: 616px) {
  @mixin navBarAndLogo {
    font-size: 35px;
  }

  @mixin navbarLinks {
    font-size: 40px;
  }

  @mixin subTitles {
    font-size: 40px;
  }

  @mixin homepagePusher {
    margin-top: 70px;
  }

  @mixin homepageParas {
    font-size: 37px;
  }

  @mixin testimonialParas {
    font-size: 30px;
  }

  @mixin paraTitles {
    font-size: 35px;
  }

  @mixin lessonTitles {
    font-size: 30px;
  }

  @mixin paras {
    font-size: 25px;
  }

  @mixin signUpLinks {
    font-size: 40px;
  }

  @mixin formLabels {
    font-size: 30px;
  }

  @mixin selectBox {
    width: 350px;
  }

  @mixin preferenceBox {
    font-size: 25px;
  }

  @mixin mainSignUpBtn {
    font-size: 40px;
    margin-top: 20px;
  }

  .my-nav .navbar-brand,
  button.navbar-toggler {
    @include navBarAndLogo;
  }

  .my-nav .nav-link {
    @include navbarLinks;
  }

  .heading2 {
    @include subTitles;
  }

  .homepage .heading2 {
    @include homepagePusher;
  }

  section.homepage p {
    @include homepageParas;
  }

  .all_testimonials p {
    @include testimonialParas;
  }

  .heading3 {
    @include paraTitles;
  }

  .heading4 {
    @include lessonTitles;
  }

  .schedule p {
    @include paras;
  }

  a.button {
    @include signUpLinks;
  }

  label {
    @include formLabels;
  }

  select#chosen_schedule {
    @include selectBox;
  }

  select#chosen_schedule optgroup,
  select#chosen_schedule optgroup option {
    @include preferenceBox;
  }

  button.form_button {
    @include mainSignUpBtn;
  }
}

@media (min-width: 766px) {
  @mixin navLogo {
    font-size: 40px;
  }

  @mixin subTitles {
    font-size: 50px;
  }

  @mixin homepagePusher {
    margin-top: 80px;
  }

  @mixin preferenceBoxContents {
    font-size: 28px;
  }

  @mixin textBoxSpace {
    padding: 10px;
  }

  @mixin signUpBoxGrowth {
    width: 650px;
  }

  @mixin selectBoxGrowth {
    width: 390px;
  }

  @mixin boxSideSpace {
    width: 95%;
  }

  .my-nav .navbar-brand {
    @include navLogo;
  }

  .heading2 {
    @include subTitles;
  }

  .homepage .heading2 {
    @include homepagePusher;
  }

  select#chosen_schedule optgroup,
  select#chosen_schedule optgroup option {
    @include preferenceBoxContents;
  }

  input[type="text"],
  input[type="email"] {
    @include textBoxSpace;
  }

  #sign_up_form {
    @include signUpBoxGrowth;
  }

  select#chosen_schedule {
    @include selectBoxGrowth;
  }

  .schedule .times.mx-auto {
    @include boxSideSpace;
  }
}

@media (min-width: 992px) {
  @mixin navLogoRemoval {
    display: none;
  }

  @mixin NavbarBar {
    border: 0px;
    top: 0;
  }

  @mixin centerNavLinks {
    justify-content: center;
  }

  @mixin navBarLinks {
    font-size: 35px;
    padding: 0px;
  }

  @mixin navBarLinksHover {
    border-radius: 9px;
    margin: 0px 5px;
  }

  @mixin linesBetweenNavBarLinks {
    border: solid white 1px;
    padding-left: 2px;
  }

  @mixin mainTitle {
    display: block;
    height: 35px;
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    margin: 0px;
    padding-top: 95px;
  }

  @mixin keepHeadingsUnderNavBar {
    padding-top: 110px;
  }

  @mixin homepagePuller {
    margin-top: 0px;
    padding-top: 120px;
  }

  @mixin paraTitles {
    font-size: 45px;
  }

  @mixin lessonTitles {
    font-size: 35px;
  }

  @mixin paraContent {
    font-size: 30px;
  }

  @mixin preferenceContentBox {
    font-size: 30px;
  }

  @mixin selectBoxGrowth {
    width: 425px;
  }

  .my-nav .navbar-brand {
    @include navLogoRemoval;
  }

  .my-nav {
    @include NavbarBar;
  }

  div#navbarNavAltMarkup.collapse.navbar-collapse {
    @include centerNavLinks;
  }

  a.nav-item.nav-link {
    @include navBarLinks;
  }

  a.nav-item.nav-link:hover {
    @include navBarLinksHover;
  }

  .vertical_line {
    @include linesBetweenNavBarLinks;
  }

  .heading1 {
    @include mainTitle;
  }

  .heading2 {
    @include keepHeadingsUnderNavBar;
  }

  .homepage .heading2 {
    @include homepagePuller;
  }

  .heading3 {
    @include paraTitles;
  }

  .heading4 {
    @include lessonTitles;
  }

  .schedule p {
    @include paraContent;
  }

  select#chosen_schedule optgroup,
  select#chosen_schedule optgroup option {
    @include preferenceContentBox;
  }

  select#chosen_schedule {
    @include selectBoxGrowth;
  }
}

@media (min-width: 1125px) {
  @mixin navBarLinks {
    font-size: 40px;
  }

  @mixin paraBg {
    padding-bottom: 0px;
  }

  a.nav-item.nav-link {
    @include navBarLinks;
  }

  .about_us_paras {
    @include paraBg;
  }
}

@media (min-width: 1360px) {
  @mixin mainHeadingPusher {
    padding-top: 130px;
  }

  @mixin subheadingPusher {
    margin-top: 35px;
  }

  h1.heading1 {
    @include mainHeadingPusher;
  }

  .homepage .heading2 {
    @include subheadingPusher;
  }
}

@media (min-width: 1440px) {
  @mixin footerParas {
    font-size: 20px;
  }

  @mixin footerIcons {
    height: 105px;
  }

  @mixin footerContacts {
    height: 50px;
  }

  @mixin footerCopyright {
    height: 34px;
  }

  footer p {
    @include footerParas;
  }

  footer i.fab {
    @include footerIcons;
  }

  .contacts {
    @include footerContacts;
  }

  .copyright {
    @include footerCopyright;
  }
}
