* {
  font-family: cursive, Arial, Helvetica, sans-serif;
  padding: 0em;
  margin: 0em;
  color: white;
  line-height: 1.6;
  text-align: center;
}

body {
  /* for footer */
  position: relative;
  padding-bottom: 140px;
  min-height: 100vh;
  height: 100%;
  /* for background img */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(218, 165, 32, 0)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(245, 246, 252, 0))), url(/assets/images/background.jpg);
  background-image: linear-gradient(to bottom, rgba(218, 165, 32, 0), rgba(0, 0, 0, 0.5), rgba(245, 246, 252, 0)), url(/assets/images/background.jpg);
  background-color: rgba(218, 165, 32, 0.753);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.fixed-arrow {
  display: none;
  bottom: 1em;
  position: fixed;
  right: 0.5em;
  z-index: 1;
  background-color: GoldenRod;
  border-radius: 50%;
}

.fas.fa-arrow-circle-up {
  border-radius: 2em;
  cursor: pointer;
  border: 0.1em solid DarkGoldenRod;
}

/****************************************************************************** Navbar */
.my-nav {
  background-color: DarkGoldenRod;
}

.my-nav .navbar-brand {
  color: white;
  font-size: 26px;
}

.my-nav .nav-link {
  color: white;
  font-size: 22px;
  margin: 3px 0px;
}

.my-nav .nav-link:hover {
  background-color: GoldenRod;
  border-radius: 9pc;
  padding: 0px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/****************************************************************************** Headings */
.heading1 {
  display: none;
}

.heading2 {
  font-size: 35px;
  text-transform: uppercase;
  margin: 30px 0px;
  padding-top: 100px;
}

.heading3 {
  font-size: 30px;
  font-style: italic;
}

/****************************************************************************** Images */
.all_testimonials img,
.wrapping img {
  width: 270px;
  height: 350px;
  border: 5px solid DarkGoldenRod;
  border-radius: 50%;
  background-color: rgba(218, 165, 32, 0.753);
}

div.row {
  margin: 0px;
}

/****************************************************************************** Common: Testimonials, Schedule, About Us */
/* all boxes */
.schedule div.times,
.all_testimonials div.testimonial,
.about_us_paras {
  background-color: rgba(218, 165, 32, 0.87);
  border: 5px solid DarkGoldenRod;
  border-radius: 9px;
  width: 100%;
}

/* removes spaces around to centre */
div.container,
div.col-12 {
  padding: 0px;
}

/* decorates paragraph background */
.about_us_paras,
.all_testimonials div.testimonial {
  margin: 0px;
}

/****************************************************************************** Sign Up Button */
/* sign up button for all BUT sign up page */
a.button {
  color: white;
  background-color: GoldenRod;
  border: 2px solid DarkGoldenRod;
  text-decoration: none;
  padding: 0px 5px 5px;
  border-radius: 10px;
  font-size: 20px;
  margin: 0px;
}

/****************************************************************************** Footers */
/* keeps footers at bottom of page */
section {
  width: 100%;
}

/* keeps all footers at bottom of page */
footer {
  position: absolute;
  min-height: 0%;
  bottom: 0em;
  width: 100%;
}

footer p {
  font-size: 15px;
}

footer i.fab {
  font-size: 250%;
  letter-spacing: 5px;
  height: 94px;
}

.contacts {
  background-color: rgba(218, 165, 32, 0.582);
  height: 57px;
}

.copyright {
  background-color: DarkGoldenRod;
  height: 20px;
  padding-bottom: 23px;
  margin-bottom: 0px;
}

/****************************************************************************** HomePage */
.homepage .heading2 {
  padding-top: 90px;
}

section.homepage p {
  font-size: 20px;
  margin: 40px 20px 40px 20px;
}

.crossed_out {
  text-decoration: line-through;
}

.bold {
  font-weight: bold;
  background-color: GoldenRod;
  font-style: italic;
}

/******************************************************************************* Testimonials */
.all_testimonials div.testimonial {
  padding-top: 15px;
  width: 100%;
}

.all_testimonials p {
  font-style: italic;
  font-size: 25px;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
}

.all_testimonials span {
  display: block;
}

/******************************************************************************* Schedule */
.schedule div.times {
  margin: 30px 29px 15px;
}

.heading4 {
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 2px;
  margin-top: 15px;
}

.schedule p {
  margin-bottom: 8px;
  font-size: 20px;
}

.heading4,
.schedule p {
  font-style: italic;
}

/******************************************************************************* About Us */
.wrapping .founder img,
.sieve img {
  float: left;
  margin: 40px 2px 5px 20px;
}

.wrapping .buns img {
  float: right;
  margin: 40px 20px 5px 2px;
}

.about_us_paras p {
  font-size: 25px;
  font-style: italic;
}

/******************************************************************************* Sign Up */
#sign_up_form {
  background-color: rgba(218, 165, 32, 0.582);
  border: 5px solid DarkGoldenRod;
  border-radius: 9px;
  width: 100%;
  padding: 0px 10px;
  margin: auto;
  min-height: 100%;
}

label {
  font-weight: bold;
  font-size: 150%;
  margin-top: 10px;
}

form,
label,
input {
  display: block;
  text-align: center;
}

input {
  text-align: left;
}

input[type="text"],
input[type="email"] {
  padding-bottom: 5px;
  color: black;
  border: 2px solid DarkGoldenRod;
  border-radius: 4px;
  background-color: GoldenRod;
  width: 100%;
}

input[type="text"],
input[type="email"],
select#chosen_schedule:focus {
  outline-color: GoldenRod;
}

select {
  padding-bottom: 5px;
  margin: 0px 5px;
  border: 2px solid DarkGoldenRod;
  border-radius: 4px;
  background-color: GoldenRod;
}

select#chosen_schedule {
  width: 250px;
  margin-bottom: 20px;
}

select#chosen_schedule optgroup,
select#chosen_schedule optgroup option {
  text-align: left;
  font-size: 18px;
  width: 100%;
}

button.form_button {
  background-color: GoldenRod;
  border: 5px solid DarkGoldenRod;
  padding: 0px 5px 5px;
  border-radius: 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

button.form_button:focus {
  outline: DarkGoldenRod;
  border-width: 3px;
}

/****************************************************************************** Media Queries */
@media (min-width: 355px) {
  section.homepage p {
    margin: 50px 20px 50px 20px;
    font-size: 22px;
  }
  select#chosen_schedule optgroup,
  select#chosen_schedule optgroup option {
    font-size: 20px;
  }
  /*controls select box growth*/
  select#chosen_schedule {
    width: 285px;
  }
}

@media (min-width: 418px) {
  section.homepage p {
    margin-bottom: 40px;
    font-size: 25px;
  }
  select#chosen_schedule {
    width: 310px;
  }
  select#chosen_schedule optgroup,
  select#chosen_schedule optgroup option {
    font-size: 22px;
  }
}

@media (min-width: 445px) {
  section.homepage p {
    font-size: 27px;
  }
}

@media (min-width: 576px) {
  #sign_up_form {
    width: 90%;
  }
}

@media (min-width: 579px) {
  section.homepage p {
    font-size: 27px;
  }
  footer i.fab {
    letter-spacing: 7px;
    height: 70px;
  }
  .contacts {
    height: 30px;
  }
  .copyright {
    height: 23px;
  }
}

@media (min-width: 616px) {
  .my-nav .navbar-brand,
  button.navbar-toggler {
    font-size: 35px;
  }
  .my-nav .nav-link {
    font-size: 40px;
  }
  .heading2 {
    font-size: 40px;
  }
  .homepage .heading2 {
    margin-top: 70px;
  }
  section.homepage p {
    font-size: 37px;
  }
  .all_testimonials p {
    font-size: 30px;
  }
  .heading3 {
    font-size: 35px;
  }
  .heading4 {
    font-size: 30px;
  }
  .schedule p {
    font-size: 25px;
  }
  a.button {
    font-size: 40px;
  }
  label {
    font-size: 30px;
  }
  select#chosen_schedule {
    width: 350px;
  }
  select#chosen_schedule optgroup,
  select#chosen_schedule optgroup option {
    font-size: 25px;
  }
  button.form_button {
    font-size: 40px;
    margin-top: 20px;
  }
}

@media (min-width: 766px) {
  .my-nav .navbar-brand {
    font-size: 40px;
  }
  .heading2 {
    font-size: 50px;
  }
  .homepage .heading2 {
    margin-top: 80px;
  }
  select#chosen_schedule optgroup,
  select#chosen_schedule optgroup option {
    font-size: 28px;
  }
  input[type="text"],
  input[type="email"] {
    padding: 10px;
  }
  #sign_up_form {
    width: 650px;
  }
  select#chosen_schedule {
    width: 390px;
  }
  .schedule .times.mx-auto {
    width: 95%;
  }
}

@media (min-width: 992px) {
  .my-nav .navbar-brand {
    display: none;
  }
  .my-nav {
    border: 0px;
    top: 0;
  }
  div#navbarNavAltMarkup.collapse.navbar-collapse {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  a.nav-item.nav-link {
    font-size: 35px;
    padding: 0px;
  }
  a.nav-item.nav-link:hover {
    border-radius: 9px;
    margin: 0px 5px;
  }
  .vertical_line {
    border: solid white 1px;
    padding-left: 2px;
  }
  .heading1 {
    display: block;
    height: 35px;
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    margin: 0px;
    padding-top: 95px;
  }
  .heading2 {
    padding-top: 110px;
  }
  .homepage .heading2 {
    margin-top: 0px;
    padding-top: 120px;
  }
  .heading3 {
    font-size: 45px;
  }
  .heading4 {
    font-size: 35px;
  }
  .schedule p {
    font-size: 30px;
  }
  select#chosen_schedule optgroup,
  select#chosen_schedule optgroup option {
    font-size: 30px;
  }
  select#chosen_schedule {
    width: 425px;
  }
}

@media (min-width: 1125px) {
  a.nav-item.nav-link {
    font-size: 40px;
  }
  .about_us_paras {
    padding-bottom: 0px;
  }
}

@media (min-width: 1360px) {
  h1.heading1 {
    padding-top: 130px;
  }
  .homepage .heading2 {
    margin-top: 35px;
  }
}

@media (min-width: 1440px) {
  footer p {
    font-size: 20px;
  }
  footer i.fab {
    height: 105px;
  }
  .contacts {
    height: 50px;
  }
  .copyright {
    height: 34px;
  }
}
/*# sourceMappingURL=style.css.map */